<h1>Editing Book</h1>
<%= form_with model:@book do |f| %>
  <div class= "text-box">
    <h5>Title</h5>
    <%= f.text_field :title %>
  </div>
  <div class= "text-box">
    <h5>Body</h5>
    <%= f.text_area :body %>
  </div>
  <div class= "text-post">
    <%= f.submit 'Update Book'%>
  </div>


  <%= link_to "Show",book_path(@book.id) %> | <%= link_to "Back",'/books' %>

<% end %>